<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>Atomic</title>
	<link href="css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<main>
		<div class="login">
			<header>
				<h1>Bem vindo!</h1>
			</header>
			<p>Atomic é um projeto simples, porem com diverças coisas.</p>
			<div class="btn" onclick="" href="#conteudos">Saiba Mais</div>
		</div>
		<img class="svg" src="https://login.legumii.repl.co/bg.svg" alt="bg svg">
    </main>
  </body>
</html>