@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');

*{
  margin: 0;
  padding: 0;
}

:root{
  --bgcolor: linear-gradient(-130deg, rgb(12, 106, 17) 60%,rgb(18, 78, 23));
  --darkblue: rgb(28, 78, 18);
  --lightgreen:rgb(121, 211, 125);
}

body{
  width: 100%;
  height: 100vh;
  position: relative;
  background: var(--bgcolor);
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}

.svg {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100vh;
  filter: hue-rotate(270deg);
}

.login{
  width: 240px;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-30%, -50%);
  z-index: 1;
}

h1{
  font-size: 3em;
  color: var(--lightgreen);
}

p{
  font-size: 1.2rem;
  color: #D8FFFD;
  font-weight: 300;
  line-height: 25px;
  padding-top: 5px;
}

.btn{
  font-size: 1.5rem;
  font-weight: bold;
  display: inline-block;
  margin-top: 20px;
  background: var(--lightgreen);
  color: var(--darkblue);
  padding: 7px 50px;
  cursor: pointer;
  transition: .2s;
  box-shadow: 
    0px 0px var(--darkblue),
    1px 1px var(--darkblue),
    2px 2px var(--darkblue),
    3px 3px var(--darkblue),
    4px 4px var(--darkblue);
}

.btn:hover{
  transform: translate(4px, 4px);
  box-shadow: none;
  background: var(--darkblue);
  color: var(--lightgreen);
  transition: .2s;
}

@media only screen and (max-width: 800px){
  .login{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #151333e3;
    padding: 20px 40px;
    backdrop-filter: blur(5px);
    text-align: center;
  }
  .btn{
    position: relative;
    margin: 20px auto;
  }
  .svg {height: 110%;}
}

@media only screen and (max-width: 400px){
  h1{font-size: 2em;}
  p{font-size: 1rem;}
  .btn{font-size: 1.2rem;}
  .login{max-width: 250px;width: 80%;padding: 20px 10px;}
  .svg{height: 80%;}
}
